/* ==================== General Styles ==================== */
* {
    font-family: Arial, sans-serif!important;
    box-sizing: border-box;
}

html, 
body {
    background-color: #121212;
    color: #ddd;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ==================== Header Styling ==================== */
header {
    align-items: center;
    background-color: #222;
    border-bottom: 3px solid #444;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1, 
header a {
    color: white!important;
    text-decoration: none;
}

/* Links */
a {
    color: #00bcd4;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #fff;
}

/* Dropdown Button */
#menu-button {
    background: #222;
    border: 2px solid #888;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    margin-left: auto;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

#menu-button:hover {
    background: #444;
    border-color: white;
    transform: scale(1.1);
}

#menu-button.active {
    background-color: #444; /* Change background color when active */
    /* Add any other styles you want for the active state */
}

#dropdown-menu {
    background: #222;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    padding: 10px;
}

#dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dropdown-menu ul li {
    padding: 10px;
}

#dropdown-menu ul li a {
    color: white;
    display: block;
    text-decoration: none;
}

/* Show Dropdown */.show {
    display: block!important;
}

/* ==================== Content Styling ==================== */
main {
    margin-top: 80px;
    text-align: center;
}

/* ==================== Footer Styling ==================== */
footer {
    background-color: #222;
    border-top: 3px solid #444;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 1000;
}

/* Discord Button */
#discord-button {
    background: #222;
    border: 2px solid #888;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#discord-button:hover {
    background: #444;
    border-color: white;
    transform: scale(1.1);
}
